{% extends "base.html.twig" %}

{% block title %}Card game{% endblock %}

{% block main %}

<h1>Draw cards</h1>

{% for card in cards %}
    <span class="card">{{ card }}</span>
{% endfor %}

{{ include('flash.html.twig') }}
<h3>Cards left in deck: {{ cardsLeft }}</h3>

<form method="post" action="{{ path('draw_many_post') }}">
    <input type="number" name="numCards" min="1" max={{ cardsLeft }} value="1">
    <input type="submit" name="do_it" value="Draw cards">
</form>

{% endblock %}
