{% extends "base.html.twig" %}

{% block title %}Card game{% endblock %}

{% block main %}

<h1>Card game</h1>

<ul>
    <li><a href="{{ path('deck') }}">Show deck of cards</a></li>
    <li><a href="{{ path('shuffle') }}">Shuffled cards</a></li>
    <li><a href="{{ path('draw') }}">Draw a card from deck</a></li>
    <li><a href="{{ path('draw_many', { "num": 0}) }}">Draw cards from deck</a></li>
</ul>

<p>Card - Klassen representerar ett kort.</p>
<p>CardGraphic - Ärver Card klassen och skapar grafiska kort.</p>
<p>DeckOfCards - Representerar en kortlek och returnerar den. DeckOfCards och CardGraphic har en komposition relation.</p>
<img src="{{ asset('img/cardgame.jpg') }}" alt="class_diagram">

{% endblock %}
