<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# <link rel="icon" href="{{ asset('img/glider.svg') }}"> #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header">
            <span class="site-title">My Symfony Site</span>
        </header>

        <nav class="navbar">
            <a href="{{ path('home') }}">Home</a>
            <a href="{{ path('report') }}">Report</a>
            <a href="{{ path('about') }}">About</a>
            <a href="{{ path('api') }}">API</a>
            <a href="{{ path('lucky_number') }}">Lucky</a>
            <a href="{{ path('card') }}">Card</a>
            <a href="{{ path('session') }}">Session</a>
        </nav>
        <main>
        {% block main %}{% endblock %}
        </main>

        <footer>
            © Jenny Vuong 2024
        </footer>
    </body>
</html>
